.all{
    margin-top: 120px;
}
.custom-a{
    color: black;
}

.custom-a:hover{
    color: #DA0037;
}

.custom-totalPrice{
    color: #DA0037;
    font-weight: bold;
    font-size: 2rem;
}

.custom-btn-checkout{
    background-color: #DA0037;
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    width: 100%;
}

.custom-summary{
    border: 6px solid #ced4da;
    border-radius: 0.25rem;
}

.custom-cart-total{
    font-weight: bold;
    font-size: 1.5rem;
}