.card-body {
  margin-top: 5px;
  padding: 1rem;
  object-fit: cover; /* Cover entire*/
  background-color: rgb(217, 209, 209);
  margin-top: 5px;
  width: 100%;
}

/* ProductList.css */
.card {
  /* Adjust width and/or padding as needed */
  width: 250px; /* Example fixed width */
  box-sizing: border-box;
  margin: 0 auto; /* Center the card in the column */
  margin-top: 10px; /* Add space between cards */
  padding: 0; /* Remove padding */
  display: flex; /* Enable flexbox */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(85, 14, 14);
}

/* Ensure the images within the cards resize appropriately */
.card-img-top {
  width: 200px; /* Make image responsive within the card */
  object-fit: cover; /* Cover entire*/
  margin-bottom: 10px;

  height: 25%; /* Maintain aspect ratio */
}

/* Adjust the card body styles */

/* Optional: Add hover effect to the cards */

.card:hover {
  box-shadow: 0 0 10px rgba(160, 41, 41, 0.2); /* Add shadow on hover */
}

/* Add style to card button */
.card .btn {
  display: flex;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  background: #141313;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.card .btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-hover);
}
