/* Carousel */
#HeaderCarousel{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 88px;
  }
  .CarouselImg{
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img1{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../src/assets/SportsWear1.jpg);
  }
  .img2{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../src/assets/Img1.jpg);
  }
  .img3{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../src/assets/Img6.jpg);
  }

  @media screen and (max-width: 639px) {
    #HeaderCarousel{
      margin-top: 70px;
    }
  }