.card-body {
  background-color: rgb(235, 232, 230);
  margin-top: 5px;
}
.img {
  width: 100px;
  height: 100px;
}

/* .btn.btn-skew{
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
} */