.bg {
  max-width: 20rem;
  height: 30rem;
  margin: 1rem;
}
.sm {
  max-width: 10rem;
  max-height: 15rem;
}
.bg img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  transition: transform 0.5s;
}

.bg:hover img {
  transform: scale(1.05);
  transition: transform 0.5s;
  animation: flipIn 0.7s ease-in-out;
}

.bg h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

.bg p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.bg button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0;
}

.bg:hover button {
  animation: slideIn 0.5s forwards;
}

.bg button:active {
  background-color: #9f7860;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  75% {
    transform: translateY(-10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flipIn {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}
