*{
    text-decoration: none !important ;
    font-style: italic !important ;
}
.slanted-background {
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
    background-color: #9ca2ab; 
  }
  .plus-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    transition: background-color 0.3s ease;
    
}
button {
    text-decoration: none !important ;
}

.plus-icon.expanded {
    background-color: #007bff; 
    color: white;
}
