*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
/*NavBar*/
.NI{
  min-width: max-content;
}
.NI a{
  color: white;
  font-size: 18px;
}
.NI a:hover{
  color: #DA0037  ;
}
.menueLogo{
    color: white;
}
.menueLogo:hover{
    color: #DA0037  ;
}
.BrandName{
  display: none;
}
.Invisible{
  visibility: hidden;
}

.search{
  min-width: max-content;
}

/* Responsive Design */
@media screen and (max-width: 1220px){
  .Sign{
    margin-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .NavHeader{
    display: flex;
    width: 100vw;
    justify-content:  space-between;
    /* margin-bottom:5px;
    margin-top:5px; */
    padding: 5px;
  }
  .NavHeader div{
    display: inline-block;
  }
  
   .BrandName {
    display: block;

  }
  .search{
    display: block ;
    justify-content: center;
  }


}
@media screen and (max-width: 775px) {
  .Invisible{
    display: none;
  }
  .Canvas{
    display: flex;
  }
}
@media screen and (max-width: 639px) {

  .canvasItem{
    /* background-color: #DA0037; */
    font-size: 40px;
  }
   .BrandName {
    display: block;

  } 
  .Sign{
    display: none;
  }
  .search{
    display: none ;
  }
  
}

/*Footer*/
footer{
  color:#EAEAEA;
}
.footer-top{
  padding-top: 30px;
  text-align: left;
  background: #212529;
}
.footer-contact p { 
  word-wrap: break-word;
}
.footer-contact i { 
  padding-right: 10px;
  font-size: 18px; 
  color: #EAEAEA;
}
.footer-contact a { 
  border-bottom: 1px dashed #ccc; 
  text-decoration: none;
  color: #DA0037; 
  margin-left: 0px;
}
.footer-contact a:hover { 
  border-bottom: 1px dashed #EAEAEA; 
  text-decoration: none;
  color: white; 
  margin-left: 0;
}
.footer-contact p a:hover, .footer-contact p a:focus { 
  border-bottom: 1px dashed #DA0037; 
}
.footer-links a { 
  color: #DA0037; 
  text-decoration: none;
  font-size: 20px;
  margin-left: 0;
}
.footer-links a:hover{ 
  color: white; 
}
.footer-social a { 
  font-size: 20px;
  margin: 0 10px; 
  color: #bbb; 
  margin:  22px; 
}
.footer-social a:hover{ 
  color: #DA0037;
}
.footer-social i { 
  font-size: 24px; 
  vertical-align: middle; 
}
.footer-bottom { 
  text-align: center; 
  padding: 0 0 60px 0; 
  height:10px;
}
/* Carousel */
#HeaderCarousel{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.CarouselImg{
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img1{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../src/assets/SportsWear1.jpg);
}
.img2{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../src/assets/Img1.jpg);
}
.img3{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../src/assets/Img6.jpg);
}

/* Button */
.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #DA0037;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
  background: #EAEAEA;

  color: #DA0037;
    transition: 0.5s;
    box-shadow: 10px 10px 0 #DA0037;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #DA0037;
    }
    100% {
        fill: white;
    }
}