#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.NI{
  min-width: max-content;
}
.NI a{
  color: white;
  font-size: 18px;
}
.NI a:hover{
  color: #DA0037  ;
}
.menueLogo{
    color: white;
}
.menueLogo:hover{
    color: #DA0037  ;
}
.BrandName{
  display: none;
}


.search{
  min-width: max-content;
}
@media screen and (max-width: 1000px) {
   .BrandName {
    display: block;
     margin-left: 8vw;
  } 

  .togBtn {
    float: right;
    padding-left: 10000px;
  }


}
